* {
  margin: 0;
}

section {
  background-image: url('../assets/images/dawn.png');
  background-size: cover;
  margin-top: -100px;
}

img {
  width: auto;
  height: auto;
  padding-top: 350px;
  padding-bottom: 80px;
  display: table-cell;
  vertical-align: middle;
}

figure {
  width: auto;
  margin: 0 auto;
  display: table;
}

.show {
  display: none;
}

.hidden {
  display: inline-block;
}

.small {
  display: none;
}

@media (min-width: 992px) {
section {
  background-image: url('../assets/images/night.jpg');
  background-size: cover;
  margin-top: -100px;
}

img {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-top: 350px;
  padding-bottom: 80px
  display: table-cell;
  vertical-align: middle;
}

figure {
  width: auto;
  margin: 0 auto;
  display: table;
}

.show {
  display: none;
}

.hidden {
 display: none;
}

.small {
  display: inline-block;
}
}

@media (min-width: 1200px) {
section {
  background-image: url('../assets/images/sunny-day.jpg');
  background-size: cover;
  margin-top: -100px;
}

img {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-top: 350px;
  padding-bottom: 80px
  display: table-cell;
  vertical-align: middle;
}

figure {
  width: auto;
  margin: 0 auto;
  display: table;
}

.show {
  display: inline-block;
}

.small {
  display: none;
}
}
